.changeDate {
  height: fit-content;
  grid-row: 2/3;
  grid-column: 4/5;
  justify-self: start;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  transform: rotate(-69deg) translate(-80px, -10px);
  font-family: "Roboto Condensed";
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.MuiSvgIcon-root {
  margin-right: 10px;
  font-size: 30px;
}
